.seat-list-container {
  text-align: center;

  h1 {
    font-size: 50px;
  }
  .screen {
    width: 900px;
    height: 100px;
    margin: 0 auto;

    border: solid 6px #08d9d6;
    border-color: #08d9d6 transparent transparent transparent;
    border-radius: 70%/100px 100px 0 0;
  }
  .seat-list {
    padding-top: 30px;

    .reserved {
      text-decoration: none;
      color: rgba(125, 125, 125, 0.5);
      cursor: default;
      border: 1px solid rgba(125, 125, 125, 0.5);
      padding: 10px;
      margin: 10px;
      font-size: 25px;
      pointer-events: none;
      border-radius: 10px;
    }

    .link {
      text-decoration: none;
      color: #ff2e63;
      border: 2px solid #08d9d6;
      border-radius: 10px;
      padding: 10px;
      margin: 25px;
      font-size: 25px;

      &:hover {
        color: #252a34;
        background-color: #08d9d6;
        font-size: 22px;
        outline: none;
        // font-size: 25px;
      }
    }
  }
}

.available-seat {
  width: 3.5%;
  text-decoration: none;
  color: #ff2e63;
  border: 2px solid #08d9d6;
  border-radius: 10px;
  padding: 10px;
  margin: 25px auto;
  font-size: 25px;
}
.reserved-seat {
  width: 3.5%;

  text-decoration: none;
  color: rgba(125, 125, 125, 0.5);
  cursor: default;
  border: 1px solid rgba(125, 125, 125, 0.5);
  padding: 10px;
  margin: 10px auto;
  font-size: 25px;
  pointer-events: none;
  border-radius: 10px;
}
