.sign-up-container {
  margin: 0px 10px;
  width: 50%;

  h2 {
    font-size: 27px;
  }

  span {
    font-size: 20px;
  }

  .form-container {
    .input {
      height: 35px;
      margin: 10px 0px;
      text-align: center;
      font-size: 16px;
      width: 100%;
      color: white;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ff2e63;
      outline: transparent;
    }

    .button {
      margin: 10px 0px;
      padding: 10px 15px;
      font-size: 16px;
      color: #ff2e63;
      background: transparent;
      border: 2px solid #08d9d6;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
