.sign-in-and-sign-up-container {
  margin: auto;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.credits {
  position: fixed;
  bottom: 0;
  font-size: 20px;
  margin: 20px 0;
  position: absolute;
  left: 40%;
}
